<div id="NewEmployeeTable" class="table-responsive" style="border: 1px solid #000;">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Employee_Id</th>
          <th scope="col">Name</th>
          <th scope="col">Salary</th>
          <th scope="col">Age</th>
        </tr>
      </thead>

      <tbody>
          <tr *ngFor="let employee of emp2Data; let i=index;">
              <td><p> {{employee.id}}</p></td>
              <td><p> {{employee.employee_name}}</p></td>
              <td><p> {{employee.employee_salary}}</p></td>
              <td><p> {{employee.employee_age}}</p></td>
              <td><p> {{employee.profile_image}}</p></td>
          </tr>
      </tbody>
    </table>
</div>

