<div class="row mb-4">
    <div class="col text-center">
        <h1><u>Template Driven Validation Form</u></h1>
    </div>
</div>
<div class="row">
    <div class="col center">
        <form name="templateForm" #templateForm="ngForm" (ngSubmit)="onSubmit()"  [confirmEqual]="['password', 'confirmPassword']" novalidate>
            <div class="form-group">
                <label for="templateFullName">Full Name</label>
                <input type="text" name="fullName" class="form-control" [ngClass]="{ 'is-invalid' : formSubmitted && (fullName.errors && fullName.errors.required) }" id="templateFullName" aria-describedby="fullNameHelp" placeholder="Enter Full Name" [(ngModel)]="model.fullName" #fullName="ngModel" required>
                <small *ngIf="formSubmitted && (fullName.errors && fullName.errors.required)">Name is required</small>
              </div>
            <div class="form-group">
              <label for="templateEmail">Email address</label>
              <input type="email" name="email" class="form-control" [ngClass]="{ 'is-invalid' : formSubmitted && ((email.errors && email.errors.required) || (email.errors && email.errors.email))}" id="templateEmail" aria-describedby="emailHelp" placeholder="Enter E-mail" [(ngModel)]="model.email" #email="ngModel" required email >
              <small *ngIf="formSubmitted && (email.errors && email.errors.required)">Please enter an email address</small>
              <small *ngIf="formSubmitted && (email.errors && email.errors.email)">Please enter a valid email</small>
            </div>
            <div class="form-group">
                <label for="templatePhone">Phone No.</label>
                <input type="phone" name="phone" class="form-control" [ngClass]="{ 'is-invalid' : formSubmitted && ( (phone.errors && phone.errors.required) || (phone.errors && phone.errors.minlength) )  }" id="templatePhone" aria-describedby="phoneHelp" placeholder="Enter Phone Number" [(ngModel)]="model.phone" #phone="ngModel" minlength="10" required>
                <small *ngIf="formSubmitted && ((phone.errors && phone.errors.required) || (phone.errors && phone.errors.minlength))">Please enter minimum 10 digits</small>
              </div>
              <div class="form-group">
                  <label for="templatePassword">Password</label>
                  <input type="password" name="password" class="form-control" [ngClass]="{ 'is-invalid': formSubmitted && password.invalid }" id="templatePassword" placeholder="Password" [(ngModel)]="model.password" #password="ngModel" minlength="6" required>
                  <div *ngIf="formSubmitted && password.invalid" class="invalid-feedback">
                    <div *ngIf="password.errors.required">Password is required</div>
                    <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                </div>
              </div>
              <div class="form-group">
                <label for="templateConfirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': formSubmitted && confirmPassword.invalid }" id="templateConfirmPassword" placeholder="Confirm Password" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" required>
                <div *ngIf="formSubmitted && confirmPassword.invalid" class="invalid-feedback">
                  <div *ngIf="confirmPassword.errors.required">Confirm Password is required</div>
                  <div *ngIf="confirmPassword.errors.confirmEqual">Passwords must match</div>
                </div>
                <!-- <small>{{ (templateForm.value.passwords && templateForm.value.passwords.password) ? ( (templateForm.value.passwords.password === templateForm.value.passwords.confirmPassword) ? "The passwords match" : "The passwords do not match" ) :  "Please enter passwords in the fields" }}</small> -->

              </div>           
            <button type="submit" class="mt-3 btn btn-primary" (click)="onSubmit()">Submit</button>
          </form>
    </div>
</div>
<!-- 
<div *ngIf="formSubmitted" class="row mt-4">
    <div class="col">
        <h3 class="mb-4"> The details you have entered are: </h3>
        <p> <strong>Full Name:</strong> {{templateForm.value.fullName}}</p>        
        <p> <strong>Email:</strong> {{templateForm.value.email}}</p>       
        <p> <strong>Phone No:</strong> {{templateForm.value.phone}}</p>        
        <p> <strong>Password:</strong> {{templateForm.value.passwords.password}}</p> 
    </div>
</div> -->