<div class="row mb-4">
    <div class="col text-center">
        <h1><u>Reactive Form</u></h1>
    </div>
</div>
<div class="row">
    <div class="col center">
        <form [formGroup]="reactiveFormModel" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="reactiveFullName">Full Name</label>
                <input type="text" formControlName="fullName" class="form-control" id="reactiveFullName" aria-describedby="fullNameHelp" placeholder="Enter Full Name" >
              </div>
            <div class="form-group">
              <label for="reactiveEmail">Email address</label>
              <input type="email" formControlName="email" class="form-control" id="reactiveEmail" aria-describedby="emailHelp" placeholder="Enter E-mail">
            </div>
            <div class="form-group">
                <label for="reactiveAddress">Address</label>
                <input type="text" formControlName="address" class="form-control" id="reactiveAddress" aria-describedby="addressHelp" placeholder="Enter your Address" >
              </div>
              <div class="form-group">
                <label for="reactiveCity">City</label>
                <input type="text" formControlName="city" class="form-control" id="reactiveCity" aria-describedby="cityeHelp" placeholder="Enter your City" >
              </div>
            <div class="form-group">
                <label for="reactivePhone">Phone No.</label>
                <input type="phone" formControlName="phone" class="form-control" id="reactivePhone" aria-describedby="phoneHelp" placeholder="Enter Phone Number">
              </div>
            <div formGroupName="passwordsGroup">
                <div class="form-group">
                    <label for="reactivePassword">Password</label>
                    <input type="password" formControlName="password" class="form-control" id="reactivePassword" placeholder="Password">
                </div>
                <div class="form-group">
                  <label for="reactiveConfirmPassword">Confirm Password</label>
                  <input type="password" formControlName="confirmPassword" class="form-control" id="reactiveConfirmPassword" placeholder="Confirm Password">
                  <small>{{ (reactiveFormModel.value.passwordsGroup.password) ? ( (reactiveFormModel.value.passwordsGroup.password === reactiveFormModel.value.passwordsGroup.confirmPassword) ? "The passwords match" : "The passwords do not match" ) :  "Please enter passwords in the fields" }}</small>
                </div>
            </div>    

            <button type="submit" class="mt-3 btn btn-primary">Register</button>

          </form>
    </div>
</div>

<div *ngIf="formSubmitted" class="row mt-4">
    <div class="col">
        <h3 class="mb-4"> The details you have entered are: </h3>
        <p> <strong>Full Name:</strong> {{reactiveFormModel.value.fullName}}</p>        
        <p> <strong>Email:</strong> {{reactiveFormModel.value.email}}</p>       
        <p> <strong>Address:</strong> {{reactiveFormModel.value.address}}</p>    
        <p> <strong>City:</strong> {{reactiveFormModel.value.city}}</p>    
        <p> <strong>Phone No:</strong> {{reactiveFormModel.value.phone}}</p>        
    </div>
</div>