<div class="row mb-4">
    <div class="col text-center">
        <h1><u>Reactive Form</u></h1>
    </div>
</div>
<div class="row">
    <div class="col center">
        <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="reactiveFullName">Full Name</label>
                <input type="text" formControlName="fullName" class="form-control" [ngClass]="{ 'is-invalid': formSubmitted && f.fullName.errors }" id="reactiveFullName" aria-describedby="fullNameHelp" placeholder="Enter Full Name" >
                <div *ngIf="formSubmitted && f.fullName.errors" class="invalid-feedback">
                  <div *ngIf="f.fullName.errors.required">Full Name is required</div>
              </div>
              </div>
            <div class="form-group">
              <label for="reactiveEmail">Email address</label>
              <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': formSubmitted && f.email.errors }" id="reactiveEmail" aria-describedby="emailHelp" placeholder="Enter E-mail">
              <div *ngIf="formSubmitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              </div>
            </div>
            <div class="form-group">
                <label for="reactiveAddress">Address</label>
                <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': formSubmitted && f.address.errors }" id="reactiveAddress" aria-describedby="addressHelp" placeholder="Enter your Address" >
                <div *ngIf="formSubmitted && f.address.errors" class="invalid-feedback">
                  <div *ngIf="f.address.errors.required">Address is required</div>
              </div>
            </div>
            <div class="form-group">
                <label for="reactiveCity">City</label>
                <input type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': formSubmitted && f.city.errors }"  id="reactiveCity" aria-describedby="cityeHelp" placeholder="Enter your City" >
                <div *ngIf="formSubmitted && f.city.errors" class="invalid-feedback">
                  <div *ngIf="f.city.errors.required">Please enter a city</div>
              </div>
            </div>
            <div class="form-group">
                <label for="reactivePhone">Phone No.</label>
                <input type="phone" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': formSubmitted && f.phone.errors }" id="reactivePhone" aria-describedby="phoneHelp" placeholder="Enter Phone Number">
                <div *ngIf="formSubmitted && f.phone.errors" class="invalid-feedback">
                  <div *ngIf="f.phone.errors.required">Please enter a phone number</div>
                  <div *ngIf="f.phone.errors.minlength">Phone No. must be at least 10 characters</div>
              </div>
            </div>
              <div class="form-group">
                  <label for="reactivePassword">Password</label>
                  <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': formSubmitted && f.password.errors }" id="reactivePassword" placeholder="Password">
                  <div *ngIf="formSubmitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
              </div>
              <div class="form-group">
                <label for="reactiveConfirmPassword">Confirm Password</label>
                <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': formSubmitted && f.confirmPassword.errors }"  id="reactiveConfirmPassword" placeholder="Confirm Password">
                <div *ngIf="formSubmitted && f.confirmPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                  <div *ngIf="reactiveForm.get('confirmPassword').errors && reactiveForm.get('confirmPassword').errors.ConfirmPassword">Passwords must match</div>
              </div>
                  <!-- <small>{{ (reactiveForm.value.passwordsGroup.password) ? ( (reactiveForm.value.passwordsGroup.password === reactiveForm.value.passwordsGroup.confirmPassword) ? "The passwords match" : "The passwords do not match" ) :  "Please enter passwords in the fields" }}</small> -->
            </div>    

            <button type="submit" class="mt-3 btn btn-primary">Register</button>

          </form>
    </div>
</div>

<div *ngIf="showDetails" class="row mt-4">
    <div class="col">
        <h3 class="mb-4"> The details you have entered are: </h3>
        <p> <strong>Full Name:</strong> {{reactiveForm.value.fullName}}</p>        
        <p> <strong>Email:</strong> {{reactiveForm.value.email}}</p>       
        <p> <strong>Address:</strong> {{reactiveForm.value.address}}</p>    
        <p> <strong>City:</strong> {{reactiveForm.value.city}}</p>    
        <p> <strong>Phone No:</strong> {{reactiveForm.value.phone}}</p>    
        <p> <strong>Password:</strong> {{reactiveForm.value.password}}</p>    
    </div>
</div>